body{
  background-color:#ffffff;
}
.container{
  width: 20%;
  background-color: #fae10089;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  border-radius: 10px;
  padding: 20px 30px;
  height: 500px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  box-shadow: 
  0 8px 16px rgba(0, 0, 0, 0.2);
}
.box{
  width: 100%;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 6px;
  border: 1px solid #afafaf;
  border-radius: 5px;
}
.btn, .btn2{
  width: 100%;
  padding: 10px;
  background-color: #e6e6e6;
  /* box-sizing: border-box; */
  margin-bottom: 6px;
  /* outline: none; */
  border: none;
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 30px;
}
.btn:hover{
  transform: translateY(-2px);
  color: #9b009b;
  cursor: pointer;
}
.btn:disabled{
  transform: translateY(0);
  background-color: #ccc;
  cursor: default;
  opacity: 0.6;
  color: #000000;
}
.btn2{
  /* display: inline-block; */
  transition: transform 0.15s ease, color 0.15s ease;
}
.btn2:hover{
  background-color: #cce9ff;
  transform: translateY(-3px);
  color: #121212;
  cursor: pointer;
}
.error-msg {
  color: red;
  font-size: 15px;
  font-weight: 600;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: left;
}
.box.error {
  border: 1px solid red !important;
}
input, button { outline: none;}

.link{
  display: flex;
  gap: 20px;
  margin-top: 15px;
  justify-content: center;
}
.link a{
  text-decoration: none;
  color: #636363;
  font-size: 13px;
  font-weight: 600;
  transition: transform 0.2s ease, color 0.2s ease; 
}
.container .link>a:hover{
  color: #9b009b;
  transform: translateY(-2px);
}
.top {
  position: absolute;
  top: 20px;
  left: 20px;
}
.top a svg {
  cursor: pointer;
  fill: #333;
  transition: fill 0.3s ease;
}
.top a:hover svg {
  fill: #588cb4;
}
.newid{
  border-radius: 30px;
  margin-top: 6%;
}
