* {margin:0; padding:0; outline: none;}
body {box-sizing: border-box;}
ul, li, ol {list-style: none}
a {color:inherit; text-decoration: none; }


.etc_wrap {width:100%; max-width:1920px; text-align: center; margin-top:20px;}
.etc_btn {outline:none; border:none; background-color: #fee800; color:#212121; font-weight: 700; padding:12px 20px; border-radius: 8px; font-size:20px; cursor:pointer;}
.pick_img_logo {height:70px;}

.family_title_view {display: flex; align-items: center; justify-content: center; position: relative;}
.family_title_view button {position: absolute; right:20px; bottom:20px; background: #fee800; color: #212121; border: 1px solid #fff; font-size: 16px; font-weight: 700; 
 padding: 12px; border-radius: 8px; outline: none; cursor:pointer;}



 .recommend { width: 100%; max-width: 1300px; margin: 30px auto 0;}
.recommend_title { display: flex; align-items: center; justify-content: center; position: relative;}
.recommend_title p {font-size:30px; margin:30px 0; font-weight: 700;}
.recommend_title button { position: absolute; right:0; bottom:20px; background: #fee800; color: #212121; border: 1px solid #fff; font-size: 16px; font-weight: 700; 
  padding: 12px; border-radius: 8px; outline: none; cursor:pointer;}

.recom_img_view {position: relative; width:300px; height:300px; overflow: hidden; border-radius: 10px; z-index:20}
.recom_img_view img {position: absolute; top:0; left:0; width:100%; height:100%; cursor:pointer; object-fit: cover;}
.recommend {width:100%; max-width:1240px; margin:30px auto 0;}
.recom_img {width:300px;}
.info_recom {color:#212121; display: inline-block; text-align: center; width:100%; font-weight: 700; margin:20px 0;}
.heart_img {position: absolute; top:20px; right:20px; z-index:100; width:30px; height:30px; background: #212121; border-radius: 6px; padding:2px;}
.heart_img img {width:30px; height:30px; cursor:pointer; position: relative; top:0px; left:0px;}
.gid_recom {display: grid; grid-template-columns: repeat(4, 1fr); gap:20px;}
.btn_delbox {width:100%; text-align: center; display: flex; align-items: center; justify-content: space-between; gap:10px;}
.btn_delbox button { border:none; color:#fff; font-size:16px; font-weight: 700; padding:8px; border-radius: 8px; cursor:pointer; width:100%;}
.btn_delbox .btn_del {background-color: crimson; }
.btn_delbox .btn_modi {background-color: #fee800; color:#212121;}
.btn_delbox .btn_share {background-color: deepskyblue;}
.btn_recombox { width:100%; max-width:1920px; margin:0 auto 30px; text-align: center;}
.not_pick {position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); font-size:30px; font-weight: 700;}
.aside {position: fixed; right:100px; top:80%; z-index:9999; cursor:pointer;}